<!-- {% if site.url contains 'mazhuang.org' %}
<h3>欢迎关注我的微信公众号</h3>
<img style="border:1px solid #dddddd;height:192px;width:192px" src="{{ site.url }}/assets/images/qrcode.jpg" alt="闷骚的程序员" />
{% endif %} -->
<h5>访客计数（AmazingCounters）</h5>
<p>独立IP</p>
<div align="center">
    <a href="http://www.amazingcounters.com">
        <img style="opacity:0.4;filter:alpha(opacity=40);" border="0" src="http://cc.amazingcounters.com/counter.php?i=3226984&c=9681265" alt="AmazingCounters.com">
    </a>
</div>
<!-- <p>{{ site.url }}</p> -->
{% unless site.url contains 'debug' %}
{% unless site.url contains 'localhost' %}
<p>AllHits</p>
<div align="center">
    <a href="http://www.amazingcounters.com">
        <img style="opacity:0.4;filter:alpha(opacity=40);" border="0" src="http://cc.amazingcounters.com/counter.php?i=3227057&c=9681484" alt="AmazingCounters.com">
    </a>
</div>
{% endunless %}
{% endunless %}
<!-- <p>第二个似乎都是我调试blog用掉的。。。</p> -->
<!-- <p>现在已经屏蔽了localhost的访问</p> -->
<p>

</p>
<a href="/2018/09/24/00Reply/">联系以及问题反馈区</a>
<!-- 拼写成了 herf ,,,,,,,,,-->